@model CreateViewModel
<div class="text-center">
    <hr>
    <h1>SignUp</h1>
    <hr/>
</div>


<body>
    <div class="text-center">
        <form asp-action="Create" asp-controller="Create" method="post">
            <div class="mb-3 text-center">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control text-center" required />
            </div>

            <div class="mb-3 text-center">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control text-center" required />
            </div>

            <div>
                <button type="submit" value="Create" class="btn btn-primary">SignUp</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href ='/PasswordGenerator/Index';">Generate a Password</button>
            </div>
        </form>

        @if (Model.ActionMessage != null)
        {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@Model.ActionMessage");
                    };
                </script>
        }
        <div class="text-center">
            If you wish to Login please select <a href="~/Login/Index">here</a>.
        </div>

    </div>
</body>