<div class="text-center">
    <h1>
        You have successfully created an Account!!!
    </h1>
</div>

<div class="text-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href ='/Home/Index';">Home</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href ='/Login/Index';">Login</button>
</div>
